body {
  margin: 0;
  padding: 0;

}

@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.google.com/specimen/Montserrat?subset=cyrillic');
}

@font-face {
  font-family: 'Open Sans';
  src: url('https://fonts.google.com/specimen/Open+Sans');
}



.wrapper {
  width: 100%;
  margin: auto;
  display: flex;
 
  background-color: #f0e5d4;
}

/*Left content*/


.wrapper .left_side {
  max-width: 30%;
  box-sizing: border-box;
  background-image: url('../img/bg_aside.png');
  background-repeat: no-repeat;
  margin: 0 2%;
 
}

.wrapper .left_side .applicant {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 10% 0;  

}

.wrapper .left_side .applicant .image { 
  max-width: 80%;
  margin: 15% 5%;
}

.wrapper .left_side .all_info {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

.wrapper .left_side .all_info .contact {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.wrapper .left_side .all_info .contact .title {
  width: 100%;
  padding: 3% 0;
  text-align: center;
  background-color: #424243;
  color: white;
  text-transform: uppercase;
  margin: auto;
  font-family: Montserrat;
  font-size: 24px; 
  letter-spacing: 0.3em;  

}

.wrapper .left_side .all_info .contact .addres {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin: 5% 0;
  box-sizing: border-box;
}

.wrapper .left_side .all_info .contact .addres .addres_link {
  display: flex;
  width: 100%;
  text-decoration: none;
  color: #424243;
  margin: 10px 0;
  align-items: center;
  overflow: hidden;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0.05em;
}

.wrapper .left_side .all_info .contact .addres .addres_link img {
  width: 6%;
  margin: 1% 5%;
}



.wrapper .left_side .all_info .follow {
  width: 80%;
  margin: 6% auto 0;
  display: flex;
  flex-direction: column;

}

.wrapper .left_side .all_info .follow .title {
  width: 100%;
  padding: 3% 0;
  text-align: center;
  background-color: #424243;
  color: white;
  text-transform: uppercase;
  margin:auto;
  font-family: Montserrat;
  font-size: 24px; 
  letter-spacing: 0.3em;
}

.wrapper .left_side .all_info .follow .social_nets {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin: 5% 0;
  box-sizing: border-box;
}

.wrapper .left_side .all_info .follow .social_nets .social_link {
  display: flex;
  width: 100%;
  text-decoration: none;
  color: #424243;
  margin: 10px 0;
  align-items: center;
  overflow: hidden;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0.05em;

}

.wrapper .left_side .all_info .follow .social_nets .social_link img {
  width: 10%;
  margin: 1% 5%;
}

.wrapper .left_side .all_info .language {
  width: 80%;
  margin:  6% auto;
  display: flex;
  flex-direction: column;

}

.wrapper .left_side .all_info .language .title {
  width: 100%;
  padding: 3% 0;
  text-align: center;
  background-color: #424243;
  color: white;
  text-transform: uppercase;
  margin:  auto;
  font-family: Montserrat;
  font-size: 24px;  
  letter-spacing: 0.3em;
}

.wrapper .left_side .all_info .language .speaking_skills {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin: 5% 0;

}



.wrapper .left_side .all_info .language .speaking_skills .speaking_pl,
.speaking_ua,
.speaking_en {
  
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.wrapper .left_side .all_info .language .speaking_skills h2 {
  text-transform: uppercase;
  width: 50%;
  margin: 3% 0%;  
  color: #424243;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0.05em;
  padding-left: 5%;
}


.wrapper .left_side .all_info .hobbies {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;

}

.wrapper .left_side .all_info .hobbies .title {
  width: 100%;
  padding: 3% 0;
  text-align: center;
  background-color: #424243;
  color: white;
  text-transform: uppercase;
  margin: auto;
  font-family: Montserrat;
  font-size: 24px; 
  letter-spacing: 0.3em;
}

.wrapper .left_side .all_info .hobbies .hobbies_activities {
  display: flex;
   flex-direction: column;
  align-items: flex-start;
  color: #424243;
  margin-top: 7%;

}

.wrapper .left_side .all_info .hobbies .hobbies_activities div {
  
  text-transform: uppercase;
  width: 50%;
  margin: 3% 0%;
  padding-left: 5%;
  
  color: #424243;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0.05em;


  
}

/*Right content*/

.wrapper .right_side {
  max-width: 70%;
  box-sizing: border-box;
  padding: 5% 1%;


}

.wrapper .right_side .about_me {
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.wrapper .right_side .about_me .head{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  
}
.wrapper .right_side .about_me .head h1 {
  font-family: Montserrat;
  font-size: 48px; 
  font-weight: 600;
  letter-spacing: 0.3em;  
  text-align: left;
  text-transform: uppercase;
  font-style: italic;
  margin: 0;
  
}

.wrapper .right_side .about_me .head h1 span {   
  font-weight: 800;
  margin: 10px 0;
 }

.wrapper .right_side .about_me .head h4 {
   text-transform: uppercase;
   font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.wrapper .right_side .about_me .right_title {
  display: flex;
  align-items: center;
  width: 100%;
}

.wrapper .right_side .right_title img {
  width: 70px;
  height: fit-content;
}

.wrapper .right_side .right_title h2 {
  border-bottom: 3px solid black;
  width: 100%;
  padding: 1% 0%;
  margin: 3%;
  color: #424243;
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 32px; 
  font-weight: 700;
  letter-spacing: 0.3em;
}
.wrapper .right_side .about_me p{
  width: 95%;
  color:#424243;
}

.wrapper .right_side .education {
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.wrapper .right_side .education .right_title {
  display: flex;
  align-items: center;
  width: 100%;
}

.wrapper .right_side .education .right_education {
  max-width: 95%;  
  display: flex;
  flex-direction: column;
}

.wrapper .right_side .education .right_education .education_period {
  display: flex;
  justify-content: space-between;
}

.wrapper .right_side .education .right_education .education_period h3 {
  width: 40%;
  color: #424243;
  text-transform: uppercase;
}

.wrapper .right_side .education .right_education .education_period h3::before {
  content: "› ";
  
}

.wrapper .right_side .experience {
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.wrapper .right_side .experience .right_title {
  display: flex;
  align-items: center;
  width: 100%;
}

.wrapper .right_side .experience .right_experience {
  max-width: 95%;

  display: flex;
  flex-direction: column;
}

.wrapper .right_side .experience .right_experience .experience_period {
  display: flex;
  justify-content: space-between;
}

.wrapper .right_side .experience .right_experience .experience_period h3 {
  color: #424243;
  text-transform: uppercase;
}

.wrapper .right_side .experience .right_experience .experience_period h3::before {
  content: "› ";
}

.wrapper .right_side .skills {
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.wrapper .right_side .skills .right_title {
  display: flex;
  align-items: center;
  width: 100%;
}

.wrapper .right_side .skills .right_skills {
  max-width: 95%;
  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wrapper .right_side .skills .right_skills .right_software {
  display: flex;
  width: 35%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper .right_side .skills .right_skills .right_software h2 {
  text-transform: uppercase;
  font-size: 16px;

  width: 50%;
}

.wrapper .right_side .skills .right_skills .right_software .software_skills {
  display: flex;
  justify-content: space-between;
}
  footer{
    max-width: 100%;
    height: 100px;
    margin: auto;
    display: flex;
    background-color: #bed8ec;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
  footer p{
    color: #424243;
    font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0.05em;
  text-transform: uppercase;


  }
